.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    color: brown;
}

.inter {
    font-family: 'Inter', serif;
}

hr {
    color: black;
    background-color: black;
    height: 0px;
    border-radius: 2px;
}

.cart-count {
    width: 18.2px;
    height: 18.9px;
    margin-top: -41px;
    margin-left: 22px;
    border-radius: 16px;
    color: white;
    background-color: red;
}